# Assignment Feb-16

## Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a collection of data that is used to store, retrive, and manage data in an organized and efficient way.

SQL is based on relational data model. It organizes data into tables contain rows and columns. It uses SQL to manage and manipulate the data. It is suitable for applications that require atomicity, consistency, isolation, durability, and stability. While NOSQL, on other hand, is based on non-relational data model. It stores data in various ways like document-oriented, key-value, column-family, and graph database. It uses mongoDB Query Language(MQL) to manipulate and manage data. It is designed to scale horizontally and handle large volumes of unstructured data. It is suitable for applications that require high availability, scalability, and flexibility.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL is a set of SQL commands used to define the structure of the database.

1. CREATE is used to create database, create database objects such as table, index, view, and constraints. 

CREATE DATABASE MY_COMPANY;
CREATE MY_COMPANY.table Employee_details(ID INT, NAME VARCHAR(20), ADDRESS VARCHAR(50), AGE INT, SALARY FLOAT);

2. DROP is used to delete database objects such as table, index, view, and constraints.

DROP TABLE MY_COMPANY.Employee

3. ALTER is used to alter the structure of the database objects such as table, index, view, and constraints.

ALTER MY_COMPANY.Employee ADD COLUMN PHONE VARCHAR(25);

4. TRUNCATE is used to clear the data stored in the table without changing the structure of the table. 

TRUNCATE MY_COMPANY.Employee;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML is a set of SQL commands used to manipulate the data in a database.

1. INSERT is used to add new rows into the table of the DB.
If we want to add the id, name, address, age, and salary of a emplyee, the following command can be used.

INSERT INTO MY_COMPANY.Employee VALUES (123, 'VITHURSHAN', 'USA', 28, 80000)

2. UPDATE is used to modify the data in the table.
If we want to update the salary of the employee whose id is 123, the following can be used.
UPDATE MY_COMPANY.Employee SET SALARY = 85000 WHERE ID = 123;

3. DELETE is used to remove the data from the table. 

If we want to delete all the details of the employee whose id is 123, the command mentioned below can be used.
DELETE FROM MY_COMPANY.Employee WHERE ID = 123;

## Q4. What is DQL? Explain SELECT with an example.

DQL is the part of SQL used to querying and retriving data from a database.

SELETE is used to retrive data from one or more tables from a DB. If we want to get the details of employee such as id, name, salry from the DB whose id is 123, we can use the following commad to retrive it. 

If we want to retrive the id, name, salary of an employee whose id is 123, command mentioned below can be used.
SELECT ID, NAME, SALARY FROM MY_COMPANY.Employee_details WHERE ID = 123;

## Q5. Explain Primary Key and Foreign Key.

primary key is a column(s) that is unique for each row in the table. While, foreign key is column in a table that references the primary key of another table. Both primary key and foregin keys are used to estabilish the relationship between two tables.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector as mysql_conn

mydb = mysql_conn.connect(host = "localhost",user="abc",password="password")

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM test.test_table")

myresult = mycursor.fetchall()

for i in myresult:
    print(i)
    
## Explanation

connect() method available in mysql.connector module was used to connect to mysql database. <br>
cursor() is used to create cursor object that can execute SQL queries and fetch results. <br>
execute() is used to execute SQL queries.

## Q7. Give the order of execution of SQL clauses in an SQL query.

1. FROM
2. JOIN
3. WHERE
4. GROUP BY
5. HAVING
6. SELECT
7. DISTINCT
8. ORDER BY
9. LIMIT