In [1]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 6.9 MB/s eta 0:00:0000:0100:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 35.6 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3

# Assignment Feb 17

## Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

mongodb is a document oriented NoSQL database that uses a flexible data model to store the data.

Non-relational databases use non-traditional way to store the data, instead of the traditional relational model. They use variety of different data models such as documente-oriented, key-value, and graph-based models. No-SQL data bases are designed to be flexible and scaleable. Therefore, they can store large volumes of unstructured data.

MongoDB is prefered in applications where flexibility are scalability are important. It is also preferred where large number of unstructured data is needed to be stored. At the same time, if applications need to handle a large volumes of trafic, mongoDB is the preferred choices. It is also preferred in application where data is constantly changing and evolving.

## Q2. State and Explain the features of MongoDB.

1. Documented-oriented - mongodb stores the data in JASON-like document with dynamic structure. Therefore, fields can be added or modified without following any rigid structure.
2. Horizontal-Scalability - mongodb can be scaled across large number of nodes in a cluster.
3. Automatic sharding - data in mongodb can be distributed across multiple machines in a cluster. Therefore, it increases faster data access and scalability.
4. Rich Query Language: It supports a rich features such as ad-hoc queries, secondary indexes, and aggregation.

## Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [3]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://vvithurshan:mongodbpassword@cluster0.mq5jtb5.mongodb.net")

try:
    client.server_info()
    print("Connection successful!")
except Exception as e:
    print("Connection failed: ", e)

db = client["mydatabase"]

collection_create = db["my_record"]

Connection successful!

## Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [4]:
## one record
data_one = {"name" : "vithurshan",
        "class": "Data Science",
        "timing": "flexi"}
collection_create.insert_one(data_one)

{'_id': ObjectId('63f0d4e5bf1e75e4d3679594'), 'name': 'vithurshan', 'class': 'Data Science', 'timing': 'flexi'}

In [9]:
data_many = [
    {"name": "vithurshan", "address" : "USA"},
    {"name": "vithurshan2", "address" : "USA"},
    {"name": "vithurshan3", "address" : "USA"},
    {"name": "vithurshan4", "address" : "USA"},
    {"name": "vithurshan5", "address" : "USA"},
    {"name": "vithurshan6", "address" : "USA"},
    {"name": "vithurshan7", "address" : "USA"}
]
collection_create.insert_many(data_many)
data_many = [
    {"name": "vithurshan", "address" : "USSR"},
    {"name": "vithurshan2", "address" : "USSR"},
    {"name": "vithurshan3", "address" : "USSR"},
    {"name": "vithurshan4", "address" : "USSR"},
    {"name": "vithurshan5", "address" : "USSR"},
    {"name": "vithurshan6", "address" : "UK"},
    {"name": "vithurshan7", "address" : "UAE"}
]
collection_create.insert_many(data_many)

In [10]:
for i in collection_create.find():
    print(i)

{'_id': ObjectId('63f0d4e5bf1e75e4d3679594'), 'name': 'vithurshan', 'class': 'Data Science', 'timing': 'flexi'}
{'_id': ObjectId('63f0d4ebbf1e75e4d3679595'), 'name': 'vithurshan', 'address': 'USA'}
{'_id': ObjectId('63f0d4ebbf1e75e4d3679596'), 'name': 'vithurshan2', 'address': 'USA'}
{'_id': ObjectId('63f0d4ebbf1e75e4d3679597'), 'name': 'vithurshan3', 'address': 'USA'}
{'_id': ObjectId('63f0d4ebbf1e75e4d3679598'), 'name': 'vithurshan4', 'address': 'USA'}
{'_id': ObjectId('63f0d4ebbf1e75e4d3679599'), 'name': 'vithurshan5', 'address': 'USA'}
{'_id': ObjectId('63f0d4ebbf1e75e4d367959a'), 'name': 'vithurshan6', 'address': 'USA'}
{'_id': ObjectId('63f0d4ebbf1e75e4d367959b'), 'name': 'vithurshan7', 'address': 'USA'}
{'_id': ObjectId('63f0d508bf1e75e4d367959c'), 'name': 'vithurshan', 'address': 'USA'}
{'_id': ObjectId('63f0d508bf1e75e4d367959d'), 'name': 'vithurshan2', 'address': 'USA'}
{'_id': ObjectId('63f0d508bf1e75e4d367959e'), 'name': 'vithurshan3', 'address': 'USA'}
{'_id': ObjectId('63f0d508bf1e75e4d367959f'), 'name': 'vithurshan4', 'address': 'USA'}
{'_id': ObjectId('63f0d508bf1e75e4d36795a0'), 'name': 'vithurshan5', 'address': 'USA'}
{'_id': ObjectId('63f0d508bf1e75e4d36795a1'), 'name': 'vithurshan6', 'address': 'USA'}
{'_id': ObjectId('63f0d508bf1e75e4d36795a2'), 'name': 'vithurshan7', 'address': 'USA'}
{'_id': ObjectId('63f0d5e5bf1e75e4d36795a3'), 'name': 'vithurshan', 'address': 'USA'}
{'_id': ObjectId('63f0d5e5bf1e75e4d36795a4'), 'name': 'vithurshan2', 'address': 'USA'}
{'_id': ObjectId('63f0d5e5bf1e75e4d36795a5'), 'name': 'vithurshan3', 'address': 'USA'}
{'_id': ObjectId('63f0d5e5bf1e75e4d36795a6'), 'name': 'vithurshan4', 'address': 'USA'}
{'_id': ObjectId('63f0d5e5bf1e75e4d36795a7'), 'name': 'vithurshan5', 'address': 'USA'}
{'_id': ObjectId('63f0d5e5bf1e75e4d36795a8'), 'name': 'vithurshan6', 'address': 'USA'}
{'_id': ObjectId('63f0d5e5bf1e75e4d36795a9'), 'name': 'vithurshan7', 'address': 'USA'}
{'_id': ObjectId('63f0d5e5bf1e75e4d36795aa'), 'name': 'vithurshan', 'address': 'USSR'}
{'_id': ObjectId('63f0d5e5bf1e75e4d36795ab'), 'name': 'vithurshan2', 'address': 'USSR'}
{'_id': ObjectId('63f0d5e5bf1e75e4d36795ac'), 'name': 'vithurshan3', 'address': 'USSR'}
{'_id': ObjectId('63f0d5e5bf1e75e4d36795ad'), 'name': 'vithurshan4', 'address': 'USSR'}
{'_id': ObjectId('63f0d5e5bf1e75e4d36795ae'), 'name': 'vithurshan5', 'address': 'USSR'}
{'_id': ObjectId('63f0d5e5bf1e75e4d36795af'), 'name': 'vithurshan6', 'address': 'UK'}
{'_id': ObjectId('63f0d5e5bf1e75e4d36795b0'), 'name': 'vithurshan7', 'address': 'UAE'}

In [11]:
for i in collection_create.find_one():
    print(i)

_id
name
class
timing

## Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

If we want to extract the name of the person whose address is USSR, find() method can be used to extract this. As shown in the next cell.

In [17]:
for i in collection_create.find({"address":"USSR"}):
    print(i['name'], i['address'])

vithurshan USSR
vithurshan2 USSR
vithurshan3 USSR
vithurshan4 USSR
vithurshan5 USSR

## Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

#### sort() method is used to sort the elements present in the dataset either in ascending order or descending order

**clearing all the data**

In [49]:
collection_create.drop()

In [50]:
import random as rd
address = ['USA', 'USSR', 'UK', 'UAE']
data6 = [ {"id" : i*i, "name": "vithurshan" + str(i), "score": rd.randint(0,99)  , "address" : address[rd.randint(0,3)] } for i in range(30)]

collection_create.insert_many(data6)

#### **In the example below, rows are sorted in an ascending order of score**

In [51]:
print("{:<10} {:<20} {:<10} {:<20}".format("ID", "NAME", "SCORE", "ADDRESS"))
print()
for i in collection_create.find().sort("score",1):
    print("{:<10} {:<20} {:<10} {:<20}".format(i['id'], i['name'], i['score'], i['address']))

ID         NAME                 SCORE      ADDRESS

9          vithurshan3          2          USA
100        vithurshan10         2          UK
64         vithurshan8          3          USA
625        vithurshan25         3          USA
361        vithurshan19         4          UK
49         vithurshan7          5          UAE
121        vithurshan11         8          UAE
729        vithurshan27         8          USSR
576        vithurshan24         10         UK
16         vithurshan4          13         UAE
441        vithurshan21         15         UAE
4          vithurshan2          23         USSR
144        vithurshan12         25         USSR
81         vithurshan9          28         UK
256        vithurshan16         31         UAE
676        vithurshan26         41         USSR
0          vithurshan0          45         UK
400        vithurshan20         59         USA
25         vithurshan5          66         UAE
289        vithurshan17         66         UAE
324        vithurshan18         69         UK
169        vithurshan13         71         UAE
225        vithurshan15         75         USA
841        vithurshan29         82         USA
36         vithurshan6          85         UAE
784        vithurshan28         91         UAE
529        vithurshan23         93         UK
1          vithurshan1          94         USSR
484        vithurshan22         96         UK
196        vithurshan14         99         UK

## Q7. Explain why delete_one(), delete_many(), and drop() is used.

1. delete_one() - it is used to delete the first occurring document that matches the specified filter criteria.

2. delete_many() - it is used to delete all the documents that matches the specified filter criteria.

3. drop() - It is used to remove an entire collection from DB.