## Q1. What is data encoding? How is it useful in data science?

Data encoding is the process of converting categorical data into numerical data.

Data encoding is useful in data science because many machine learning algorithms require numerical data to perform analysis. By converting categorical data into numerical values, it allows for a wider range of machine learning algorithms to be used. Additionally, data encoding can reduce the dimensionality of the data and improve the performance of machine learning algorithms.

## Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

it is a techinique used to convert categorical data into binary vectors. Where each category is represented with unique integer. At the same time, in OHE, each category is represented as a unique combination of 1s and 0s in a vector.

Eg: Nominal
mon - 1 <br>
tue - 2 <br>
wed - 3<br>
thu - 4<br>
fri - 5<br>
sat - 6<br>
sun - 7<br>

Eg: OHE
In bioinformatics, each amino acid is represented with a unique vector of length 20 to be used in ML models. <br>
Ala - 10000000000000000000 <br>
Cys - 01000000000000000000 <br>
Asp - 00100000000000000000<br>
Glu - 00010000000000000000<br>

## Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

In OHE, the length of the binary vector is decided by the number of unique categiries in the dataset. Therefore, when the number of category is larger, the length of the binary vector increases. It makes the dataset complex to analyze and it may lead to a overfitting. However, nominal encoding assigns unique integer to each category. Therefore, nominal encoding is preferred when the number of category is larger.

For an example, if we want to encode the amino acids, OHE is suitable as only 20 amino acids are there in total. However, if we want to encode country names, OHE becomes very lengthy. So, it is better to use nominal encoding technique, it that context.

## Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding technique would you use to transform this data into a format suitable for machine learning algorithms? Explain why you made this choice.

In OHE, the length of the binary vector will be the number of the categiries in the dataset. Since the number of category is only 5, I would use OHE over nominal encoding as OHE can be easily interpreted by machine learning algorithms and OHE does impose any ranking to the categories.

## Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to transform the categorical data, how many new columns would be created? Show your calculations.

let's say first categegorical column has m unique values, and the other categorical column has a n unique value. Therefore, totally m + n new columns will be created.

lets do this for a tips dataset

In [13]:
import seaborn as sns

df = sns.load_dataset('tips')
df = df[['total_bill','tip','sex','day','size']]
df.head()

   total_bill   tip     sex  day  size
0       16.99  1.01  Female  Sun     2
1       10.34  1.66    Male  Sun     3
2       21.01  3.50    Male  Sun     3
3       23.68  3.31    Male  Sun     2
4       24.59  3.61  Female  Sun     4

In [20]:
sex_unique = df['sex'].nunique()
day_unique = df['day'].nunique()
print("sex column has {} unique values and day column has {} values".format(sex_unique, day_unique))

sex column has 2 unique values and day column has 4 values

total columns = sex_unique + day_unique <br>
              = 2 + 4<br>
              = 6<br>

In [24]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

In [26]:
encoder = OneHotEncoder()
encoded = encoder.fit_transform(df[['sex','day',]]).toarray()
encoded_df = pd.DataFrame(encoded, columns = encoder.get_feature_names_out())
encoded_df.head()

   sex_Female  sex_Male  day_Fri  day_Sat  day_Sun  day_Thur
0         1.0       0.0      0.0      0.0      1.0       0.0
1         0.0       1.0      0.0      0.0      1.0       0.0
2         0.0       1.0      0.0      0.0      1.0       0.0
3         0.0       1.0      0.0      0.0      1.0       0.0
4         1.0       0.0      0.0      0.0      1.0       0.0

**As shown above totally 6 new columns have been created**

## Q6. You are working with a dataset containing information about different types of animals, including their species, habitat, and diet. Which encoding technique would you use to transform the categorical data into a format suitable for machine learning algorithms? Justify your answer.

since there are a lot of animal category, using OHE make the dataset very complex as a new column is created for each animal. Therefore, it is better to use the nominal encoding technique.

## Q7.You are working on a project that involves predicting customer churn for a telecommunications company. You have a dataset with 5 features, including the customer's gender, age, contract type, monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

in this dataset, features such as gener and contract type are categorical. At the same time, number of category they have is not large. Therefore, it would be better to use OHE to transform the data.

1. first we need to import OneHotEncoder from sklearn.preprocessing
2. A OneHotEncoder() object is created.
3. Then, categorical columns are passed into the fit_transform method of OneHotEncoder() object, and the output is converted into an array.
    encoded = encoder.fit_transform(df[['age','gender',]]).toarray()
4. Finally, encoded array is converted into pandas DataFrame.
    pd.DataFrame(encoded, columns = encoder.get_feature_names_out())

In [28]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
encoder = OneHotEncoder()
encoded = encoder.fit_transform(df[['age','gender',]]).toarray()
encoded_df = pd.DataFrame(encoded, columns = encoder.get_feature_names_out())