## 1. Finding the sum of a list of numbers:

In [2]:
from functools import reduce
numbers = [1, 2, 3, 4, 5]
sum = reduce(lambda x,y:x+y,numbers)
sum

15

## 2. Multiplying all elements of a list:

In [4]:
from functools import reduce
numbers = [1, 2, 3, 4, 5]
product = reduce(lambda x,y:x*y, numbers)
product

120

In [47]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]
numbers_2 = [i*i for i in numbers]

def multiply(x, y):
    return x * y

product = reduce(multiply, map(lambda x: x**2, numbers))
product_2 = reduce(lambda x,y:x*y,[i*i for i in numbers])
print(product) # 14400
print(product)

14400
14400

## 3. Finding the maximum element in a list

In [5]:
from functools import reduce
number = [1,2,3,4,5]
max = reduce(lambda x,y:x if x > y else y,number)
max

5

## 4. Sorting a list of tuples based on the second element:

In [13]:
## sort it based on second value
tuples = [(1, 'a'), (2, 'c'), (3, 'b')]
print(sorted(tuples, key = lambda x :x[1]))

[(1, 'a'), (3, 'b'), (2, 'c')]

In [15]:
#list sorting according to the last name
names = ['Alf Zed', 'Mike Mo', 'Steve Aardvark']
names.sort(key = lambda x: x.split()[-1].lower())
print(names)
print(sorted(names, key=lambda x:x.split()[-1]))

['Steve Aardvark', 'Mike Mo', 'Alf Zed']
['Steve Aardvark', 'Mike Mo', 'Alf Zed']

### **what's the difference between sort method and sort function in python**
#### The sort method is used to sort a list in place, whereas the sorted function returns a new sorted list while leaving the original list unchanged.

In [ ]:
numbers = [1, 5, 2, 4, 3]
numbers.sort()
print(numbers) # [1, 2, 3, 4, 5]

numbers = [1, 5, 2, 4, 3]
sorted_numbers = sorted(numbers)
print(sorted_numbers) # [1, 2, 3, 4, 5]
print(numbers) # [1, 5, 2, 4, 3]

## 5. Extracting first letters of a list of words:

In [16]:
words = ['apple', 'banana', 'cherry']
first = list(map(lambda x:x[0],words))
first

['a', 'b', 'c']

## 6. Multiplying each element in a list by a given number:

In [17]:
numbers = [1, 2, 3, 4, 5]
multiplied_numbers = list(map(lambda x:x*3,numbers))
multiplied_numbers

[3, 6, 9, 12, 15]

## 7. Filtering elements from a list based on a condition:

In [19]:
## extract only even numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even = list(map(lambda x :x % 2 == 0,numbers))
even

[False, True, False, True, False, True, False, True, False, True]

In [23]:
## with generator
def even(num):
    for n in num:
        if n % 2 == 0:
            yield True
        else:
            yield False
[i for i in even(numbers)]

[False, True, False, True, False, True, False, True, False, True]

In [24]:
## with generator
def even(num):
    for n in num:
        if n % 2 == 0:
            yield n
[i for i in even(numbers)]

[2, 4, 6, 8, 10]

In [20]:
## extract only even numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even = list(filter(lambda x :x % 2 == 0,numbers))
even

[2, 4, 6, 8, 10]

## 8. Finding the maximum or minimum element in a list with max

In [27]:
numbers = [1, 2, 3, 4, 5]
maximum = max(numbers, key=lambda x: x)
print(maximum) # 5

TypeError: 'int' object is not callable

### Why it produces an error
#### The error is occurring because the variable "maximum" is shadowing the built-in max function, and you are trying to call the 
#### int object which is not callable. To avoid this issue, you can either change the name of the variable or use the 
#### built-in max function by accessing it through the builtins module like this:

In [51]:
numbers = [1, 2, 3, 4, 5]
maximum = __builtins__.max(numbers, key=lambda x: x)
print(maximum) # 5

5

## 9. Concatenating a list of strings

In [31]:
words = ["Hello", "world"]
conc = reduce(lambda x,y:x+ " "+y,words)
conc

'Hello world'

## 10. Flattening a list of lists:

In [32]:
nested_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flatten = reduce(lambda x,y:x+y,nested_lists)
flatten

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
[j for i in nested_lists for j in i]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## 11. Palindrome

In [10]:
S = "MADAM"
is_palindrome = lambda x:"yes" if x == x[::-1] else "NO"

In [9]:
is_palindrome(S)

'NO'

In [13]:
S = "MADAMM"
is_palindrome = lambda x:"yes" if x == x[::-1] else "NO"

In [15]:
is_palindrome(S)

'NO'

## 12. Factorial

In [18]:
fact = lambda x: 1 if x == 0 else x*fact(x-1)

In [19]:
fact(5)

120

## 13. Fibonacci

In [145]:
fibo = lambda x: 1 if x == 1 or x == 2 else fibo(x-1) + fibo(x-2)

In [146]:
fibo(12)

144

### first n fibonacci series

In [91]:
list(enumerate((map(fibo,[i for i in range(1,11)])),start=1))

[(1, 1),
 (2, 1),
 (3, 2),
 (4, 3),
 (5, 5),
 (6, 8),
 (7, 13),
 (8, 21),
 (9, 34),
 (10, 55)]

In [56]:
## with generator
def fibo_with_gen(x):
    if x == 1 or x == 2:
        return 1
    else:
         yield fibo_with_gen(x-1) + fibo_with_gen(x-2)
        # yield f

In [57]:
y = [next(fibo_with_gen(i)) for i in range(10)]
y

TypeError: unsupported operand type(s) for +: 'generator' and 'generator'

In [54]:
def fib(n, a = 0, b = 1): 
    if n == 0:
        yield a
    if n == 1: 
        yield b
    yield from fib(n - 1, b, a + b)
y = [next(fib(i)) for i in range(10)]
y

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

## 14. Prime number

In [141]:
prime = lambda x:"{} is a Prime number".format(x) if x > 1 and not sum(list(map(lambda n:1 if x % n == 0 else 0, [i for i in range(2,x)]))) else "{} is not a prime number".format(x)

In [142]:
prime(2)

'2 is a Prime number'

In [123]:
prime_list = list(enumerate(map(prime,[i for i in range(1,11)]),start=1))
prime_list

[(1, '1 is not a prime number'),
 (2, '2 is a Prime number'),
 (3, '3 is a Prime number'),
 (4, '4 is not a prime number'),
 (5, '5 is a Prime number'),
 (6, '6 is not a prime number'),
 (7, '7 is a Prime number'),
 (8, '8 is not a prime number'),
 (9, '9 is not a prime number'),
 (10, '10 is not a prime number')]

In [127]:
prime_dict= {x:y for x, y in prime_list}

In [128]:
prime_dict

{1: '1 is not a prime number',
 2: '2 is a Prime number',
 3: '3 is a Prime number',
 4: '4 is not a prime number',
 5: '5 is a Prime number',
 6: '6 is not a prime number',
 7: '7 is a Prime number',
 8: '8 is not a prime number',
 9: '9 is not a prime number',
 10: '10 is not a prime number'}

In [129]:
prime_list = list(map(prime,[i for i in range(1,11)]))
prime_list

['1 is not a prime number',
 '2 is a Prime number',
 '3 is a Prime number',
 '4 is not a prime number',
 '5 is a Prime number',
 '6 is not a prime number',
 '7 is a Prime number',
 '8 is not a prime number',
 '9 is not a prime number',
 '10 is not a prime number']

In [140]:
## it is also possible
prime_dict_2 = {x:y for x, y in enumerate(prime_list,start=1)}
prime_dict_2

{1: '1 is not a prime number',
 2: '2 is a Prime number',
 3: '3 is a Prime number',
 4: '4 is not a prime number',
 5: '5 is a Prime number',
 6: '6 is not a prime number',
 7: '7 is a Prime number',
 8: '8 is not a prime number',
 9: '9 is not a prime number',
 10: '10 is not a prime number'}

In [135]:
##
fruits = ['apple', 'banana', 'mango', 'cherry']
for index, fruit in enumerate(fruits, start=1):
    print(index, ':', fruit)

1 : apple
2 : banana
3 : mango
4 : cherry